TrainingNumbers: 569
InputAttributes: 30
OutputAttributes: 2
DatasetFile: breastcancer_train_569.csv
AnswerFile: breastcancer_train_569_answers.csv
NumberLayers: 3
NumberHiddenLayers: 15
TestingNumbers: 569
TestDatasetFile: breastcancer_train_569.csv
TestAnswerFile: breastcancer_train_569_answers.csv
PrintNormalized: 1
