TrainingNumbers: 60000
InputAttributes: 784
OutputAttributes: 10
DatasetFile: mnist_train_60000.csv
AnswerFile: mnist_train_60000_answers.csv
NumberLayers: 3
NumberHiddenLayers: 40
TestingNumbers: 60000
TestDatasetFile: mnist_train_60000.csv
TestAnswerFile: mnist_train_60000_answers.csv
PrintNormalized: 0
